/**
 * Project: Portfolio_MacOS
 * Author: anluisgl
 * License: MIT
 * Repository: https://github.com/anluisgl
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("img/wallpaper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

/** CSS PC.ver */

.toolbar {
  grid-area: toolbar;
  display: flex;
  width: 100%;
  height: 3vh;
  color: white;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(8px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "toolbar1 toolbarx toolbar2";
}

.toolbar1 {
  grid-area: toolbar1;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.imgtoolbar1 {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.h1toolbar1finder {
  color: white;
  font-size: 13px;
  align-items: center;
  justify-content: left;
  margin-left: 14px;
  cursor: pointer;
}

.ptoolbar1 {
  color: white;
  font-size: 13px;
  align-items: center;
  justify-content: left;
  margin-left: 18px;
  cursor: pointer;
}

.toolbar2 {
  grid-area: toolbar2;
  margin-top: 3px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ptoolbar2 {
  color: white;
  font-size: 13px;
  align-items: center;
  width: 52px;
}

.imgtoolbar2 {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.box {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "menu1 top1"
    "menu1 file1"
    "dockx1 dock";
}

.top1 {
  grid-area: top1;
  display: flex;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #333333;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title toolbaritem";
}

.title {
  grid-area: title;
  justify-content: left;
  display: flex;
}

.imgsvg {
  margin-bottom: 10px;
  width: 25px;
  margin-left: 10px;
  filter: contrast(0.1);
  transition: filter 0.3s ease;
}

.imgsvg:hover {
  filter: contrast(1);
}

.h1top1 {
  color: white;
  font-size: 15px;
  margin-left: 25px;
  margin-top: 14px;
  justify-content: left;
  text-align: left;
}

.spantop1 {
  color: rgba(255, 255, 255, 0.35);
}

.toolbaritem {
  grid-area: toolbaritem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding: 10px;
}

.toolbar-btn {
  background: none;
  border: none;
  color: #ccc;
  margin: 0 5px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.toolbar-btn:hover {
  background-color: #555;
  color: #fff;
}

.icon {
  display: inline-block;
}

.menu1 {
  grid-area: menu1;
  display: block;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(40, 40, 40, 0.955);
  backdrop-filter: blur(8px);
}

.traffic-lights {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 12px;
  left: 12px;
  margin-left: 15px;
  margin-top: 10px;
}

.light {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #555;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.light.red {
  background-color: #ff5f56;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.light.yellow {
  background-color: #ffbd2e;
}

.light.green {
  background-color: #27c93f;
}

.h1categories {
  color: rgba(255, 255, 255, 0.289);
  font-size: 10px;
  margin: 10px;
  margin-left: 25px;
}

.h1section {
  color: rgba(255, 255, 255, 0.506);
  font-size: 13px;
  font-weight: 440;
  margin: 10px;
  margin-left: 25px;
  display: flex;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.h1section:hover {
  color: #ffffff;
}
.imgsection {
  width: 17px;
  margin-right: 6px;
  object-fit: contain;
}

.margintop {
  margin-top: 30px;
}

.margintoptop {
  margin-top: 60px;
}

.seleccion {
  border: 1px solid #ffffff00;
  border-radius: 7px;
  width: 127px;
  height: 30px;
  margin-left: 20px;
  background-color: #ffffff1f;
  padding: 5px;
  color: white;
}

.file1 {
  grid-area: file1;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 77vh;
  justify-content: center;
  color: white;
  background-color: #202020;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "folder1 folder2";
}

.folder1 {
  grid-area: folder1;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
  color: white;
  margin-top: 10px;
}

.imgfolder {
  margin: 10px;
  width: 80px;
  pointer-events: none;
}

.thefolder {
  margin-top: 50px;
  display: block;
}

.namefile {
  text-align: center;
  font-size: 13px;
  pointer-events: none;
}

.a {
  text-decoration: none;
  color: white;
}

.folder2 {
  grid-area: folder2;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border: 1px solid #9a9a9a93;
  background-color: #202020;
  box-shadow: 0 20px 50px rgb(0, 0, 0);
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
}

.folder2.active {
  opacity: 1;
  transform: translateY(-80px);
}

.folder2.expandido {
  width: 98%;
  height: 101%;
}

.dockx1 {
  grid-area: dockx1;
  width: 100%;
  height: 5vh;
  color: white;
}

.h1signature {
  font-size: 10px;
  margin-top: 30px;
  margin-left: 6px;
  color: #ffffff79;
}

.dock {
  grid-area: dock;
  margin-top: 18px;
  border-radius: 15px;
  width: 88%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "dockofix1 dockofi dockofix2";
}

.dockofi {
  grid-area: dockofi;
  width: 100%;
  height: 6vh;
  display: flex;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  background: rgba(30, 30, 30, 0.1);
  border: 1px solid rgba(136, 136, 136, 0.605);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "docki";
}

.docki {
  grid-area: docki;
  width: 100%;
  height: 100%;
  display: flex;
}

.imgdock {
  width: 50px;
  height: 50px;
  margin: 2px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.imgdock:hover {
  transform: translateY(-15px);
}

.finder {
  cursor: pointer;
}

.line {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  height: 37px;
  opacity: 60%;
}

/** CSS JS.ver */

.aboutmejs {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
}

.divimgaboutmejs {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.h1aboutmejs {
  font-style: normal;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.h1aboutmejs2 {
  color: rgba(255, 255, 255, 0.266);
  font-size: 20px;
  text-align: center;
}

.pboutmejs {
  margin: 30px;
  margin-top: 20px;
  text-align: center;
}

.imgaboutme {
  border-radius: 10px;
  width: 180px;
  height: 180px;
}

.proyectsjs {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.topproyectsjs {
  background-color: #363637;
  width: 100%;
  height: 12%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px black;
  display: flex;
}

.traffic-lights3 {
  display: flex;
  gap: 8px;
  top: 12px;
  left: 12px;
  margin-left: 15px;
  margin-top: 15px;
}

.light3 {
  width: 14px;
  height: 14px;
  margin-top: 3%;
  border-radius: 50%;
  background-color: #555;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.light3.red {
  background-color: #ff5f56;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.light3.red:hover {
  transform: scale(1.2);
}

.light3.yellow {
  background-color: #ffbd2e;
}

.light3.green {
  background-color: #27c93f;
}

.h1proyects {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 10px;
}

.myproyectsjs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "myp01"
    "myp02"
    "myp03"
    "myp04"
    "myp05"
    "myp06"
    "myp07"
    "myp08"
    "myp09"
    "myp10"
    "myp11"
    "myp12"
    "myp13"
    "myp14"
    "myp15"
    "myp16"
    "myp17"
    "myp18"
    "myp19"
    "myp20"
    "myp21"
    "myp22"
    "myp23";
}

.imgproyects {
  width: 60%;
}

.myp01 {
  grid-area: myp01;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp02 {
  grid-area: myp02;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp03 {
  grid-area: myp03;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp04 {
  grid-area: myp04;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp05 {
  grid-area: myp05;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp06 {
  grid-area: myp06;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp07 {
  grid-area: myp07;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp08 {
  grid-area: myp08;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp09 {
  grid-area: myp09;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp10 {
  grid-area: myp10;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp11 {
  grid-area: myp11;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp12 {
  grid-area: myp12;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp13 {
  grid-area: myp13;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp14 {
  grid-area: myp14;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp15 {
  grid-area: myp15;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp16 {
  grid-area: myp16;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp17 {
  grid-area: myp17;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp18 {
  grid-area: myp18;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp19 {
  grid-area: myp19;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp20 {
  grid-area: myp20;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.myp21 {
  grid-area: myp21;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202121;
}

.myp22 {
  grid-area: myp22;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #333333;
}

.h1proyectsjs {
  color: white;
  font-size: 16px;
  display: flex;
  font-weight: 400;
  align-items: center;
  margin-left: 10px;
}

.h1undifined {
  color: rgba(255, 255, 255, 0);
}

.imgproyects {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  object-fit: contain;
}

.pponiter:hover {
  background-color: #275ad1;
  cursor: pointer;
}

.knowledgejs {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.traffic-lights2 {
  display: flex;
  gap: 8px;
  top: 12px;
  left: 12px;
  margin-left: 15px;
  margin-top: 15px;
}

.light2 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #555;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.light2.red {
  background-color: #ff5f56;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.light2.red:hover {
  transform: scale(1.2);
}

.light2.yellow {
  background-color: #ffbd2e;
}

.light2.green {
  background-color: #27c93f;
}

/** CSS MOBILE.ver */

.top2 {
  grid-area: top2;
  width: 100%;
  height: 5vh;
  background-color: #202020;
  color: white;
  display: grid;
  position: sticky;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "left center right";
}

.left {
  display: flex;
  align-items: center;
}

.flecha {
  display: flex;
  margin-left: 10px;
  width: 30px;
}

.h1top2 {
  font-size: 17px;
  color: #0a84fe;
  margin-top: 3px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1top22 {
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}

.right {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.button {
  grid-area: file2;
  width: 100%;
  height: 5vh;
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonshearch {
  background-color: #2c2c2e;
  width: 100%;
  margin: 10px;
  padding: 15px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file2 {
  grid-area: file2;
  width: 100%;
  height: 50vh;
  background-color: #202020;
  color: white;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "thefolder2-1 thefolder2-2 thefolder2-3"
    "thefolder2-4 thefolder2-5 thefolder2-6"
    "thefolder2-7 thefolder2-7 thefolder2-9";
  gap: 0px;
}

.thefolder2-1 {
  grid-area: thefolder2-1;
  height: 100px;
  display: block;
  margin: 0px;
}

.thefolder2-2 {
  grid-area: thefolder2-2;
  height: 100px;
  margin: 0px;
}

.thefolder2-3 {
  grid-area: thefolder2-3;
  height: 100px;
  margin: 0px;
}

.thefolder2-4 {
  grid-area: thefolder2-4;
  height: 100px;
  margin: 0px;
}

.thefolder2-5 {
  grid-area: thefolder2-5;
  height: 100px;
  margin: 0px;
}

.thefolder2-6 {
  grid-area: thefolder2-6;
  height: 100px;
  margin: 0px;
}

.thefolder2 {
  margin: 10px;
}

.imgfolder2-1 {
  margin: 10px auto;
  width: 100px;
  display: block;
}

.thefolder2 {
  display: block;
}

.namefile2 {
  text-align: center;
  font-size: 13px;
}

.imgfile2 {
  margin: 10px auto;
  width: 65px;
  display: block;
}

.a2 {
  display: flex;
  text-decoration: none;
}

/** CSS MOBILE-ABOUTME.ver */

.aboutme {
  text-align: center;
}

.aboutmemobile {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
}

.divimgaboutmemobile2 {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.h1aboutmemobile {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}

.h1aboutmemobile2 {
  color: rgba(255, 255, 255, 0.266);
  font-size: 15px;
  text-align: center;
}

.pboutmemobile {
  margin: 30px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: white;
}

.imgaboutmemobile {
  border-radius: 10px;
  width: 180px;
  height: 180px;
}

/** CSS @media */

@media (min-width: 1301px) {
  .box2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "top2"
      "button"
      "file2";
  }
}

@media (max-width: 1300px) {
  .box {
    display: none;
  }
  .toolbar {
    display: none;
  }
  .toolbar1 {
    display: none;
  }
  .toolbarx {
    display: none;
  }
  .toolbar2 {
    display: none;
  }
  .body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #202020;
    background-image: none;
  }
}

@media (min-width: 1301px) {
  .box2 {
    display: none;
  }
  .top2 {
    display: none;
  }
  .file2 {
    display: none;
  }
  .button {
    display: none;
  }
  .h1top2 {
    display: none;
  }
}

@media screen and (width: 1920px) and (height: 1080px) {
  .docki {
    grid-area: docki;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .imgdock {
    width: 54px;
    height: 54px;
    object-fit: contain;
  }

  .line {
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 3px;
    height: 50px;
    opacity: 60%;
  }
}

@media screen and (width: 1366px) and (height: 768px) {
  .pboutmejs {
    font-size: 13px;
  }
  .docki {
    grid-area: docki;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .imgdock {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .line {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    height: 30px;
    opacity: 60%;
  }
}

@media (max-width: 1460px) {
  .pboutmejs {
    font-size: 13px;
  }
  .docki {
    grid-area: docki;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .imgdock {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }

  .line {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    height: 30px;
    opacity: 60%;
  }
}
