* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "menu1 top1 top1"
    "menu1 file1 file1"
}

.top1 {
    grid-area: top1;
    display: flex;
    width: 1485px;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #353536;
}

.menu1 {
    grid-area: menu1;
    display: block;
    width: 194px;
    height: 902px;
    justify-content: center;
    align-items: center;
    color: white;
    background: #272727;
}

.h1categoria {
    color: rgba(255, 255, 255, 0.289);
    font-size: 10px;
    margin: 10px;
    margin-left: 25px;
}

.h1section {
    color: rgba(255, 255, 255, 0.575);
    font-size: 13px;
    margin: 10px;
    margin-left: 25px;
}

.margintop {
    margin-top: 30px;
}

.seleccion {
    border: 1px solid #ffffff00;
    border-radius: 7px;
    width: 130px;
    height: 30px;
    background-color: #ffffff2f;
    padding: 5px;
}



.file1 {
    grid-area: file1;
    width: 1485px;
    height: 832px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212121;
}